
/*Css barra de navegacion*/
header .navbar-nav .nav-item{
    margin-right: 50px;
}

header .navbar-nav .nav-item .nav-link{
    color: aliceblue !important ;
}

header a img{
    margin-left: 50px;
    border-radius: 50%; 
}

header nav{
    background-color: #1F4691!important;
    
}

header .navbar-collapse{
    flex-grow: 0;
} 

/*aun no funciona!!!!!!! */
header nav  #subMenu{
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.186);
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 10px 10px 0px;
    padding: 0;
    top:8px;
    left:198px;
    position: absolute;
    list-style: none; 
}

header nav #nav-consultoria:hover #subMenu{
    display: block !important;
 }

/*fin Css barra de navegacion*/


/* Css main*/
header #boton-ver-mas{
    background-color: #1F4691 !important;
    color: white;
}

/*fin  Css main*/



@media screen and (max-width:800px) {

    header nav span .button.navbar-toggler{
      border: 1px solid white;
    
    }

    .navbar-toggler{
        background-color: white;
    }
    #icono-whatsapp{
        font-size: 40px;
        
        top: 520px; left: 280px;
        
    }
}

/*Secion de servicios  */
section{
  background-color: #1F4691;
  padding-top: 2%;

}

section h1{
  color: white;
}
  .items {
    position: relative; 
    background-color: #1F4691;
    padding: 17%;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 380px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }

  /*Fin Secion de servicios  */

  